<?xml version="1.0" encoding="utf-8"?>
<plugin xmlns="http://www.phonegap.com/ns/plugins/1.0"
        id="cordova-plugin-qrscanner-swt"
        version="1.0">

  <name>Layout Plugin</name>

  <platform name="swt">
    <config-file target="res/xml/config.xml" parent="/*">
      <feature name="QRScanner">
        <param name="android-package" value="com.bitpay.cordova.qrscanner.QRScanner"/>
      </feature>
    </config-file>  
    <source-file src="src/main/java/com/bitpay/cordova/qrscanner/QRScanner.java" target-dir="src/com/bitpay/cordova/qrscanner"/>
    <source-file src="src/main/java/com/bitpay/cordova/qrscanner/WebCameraPanel.java" target-dir="src/com/bitpay/cordova/qrscanner"/>
   	<framework src="core.gradle" custom="true" type="gradleReference" />
  </platform>
</plugin>